<nav class="navbar navbar-inverse navbar-global navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
  
        <a class="navbar-brand" routerLink="">SmartVentes DAYR Hamza</a>
      </div>
  
    </div>
  </nav>
  <nav class="navbar-primary">
  <a class="btn-expand-collapse"><span class="glyphicon glyphicon-menu-left"></span></a>
  <ul class="navbar-primary-menu">
  <li>
    <a routerLink=""><span class="glyphicon glyphicon-list-alt"></span><span class="nav-label">Acceuil</span></a>
    <a routerLink="/produits"><span class="glyphicon glyphicon-cog"></span><span class="nav-label">Produits</span></a>
    <a routerLink="/clients"><span class="glyphicon glyphicon-envelope"></span><span class="nav-label">Clients</span></a>
    <a routerLink="/fournisseurs"><span class="glyphicon glyphicon-film"></span><span class="nav-label">Fournisseurs</span></a>
  
  
  </li>
  </ul>
  </nav>
  <div class="main-content">
    <router-outlet></router-outlet>
  </div>