<h1 class="display-2">Client</h1>

<form [formGroup]="service.form" (ngSubmit)="onSubmit()" >
    <div class="form-row">
      <div class="form-group col-md-6">
        <input type="hidden" formControlName="id">

        <label for="prenomClient">Prenom de client</label>
        <input type="text" formControlName="prenomClient" class="form-control"  placeholder="Prenom de client"/>
       
      </div>
      <div class="form-group col-md-6">
        <label for="nomClient">Nom de client</label>
        <input type="text" class="form-control" formControlName="nomClient" placeholder="Saisir le nom de client"/>
     
      </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="teleClient">Telephone</label>
            <input type="text" class="form-control" formControlName="teleClient" placeholder="Telephone de client">
          </div>
          <div class="form-group col-md-6">
            <label for="mailClient">Email</label>
            <input type="text" class="form-control" formControlName="mailClient" placeholder="Email de client">
          </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="adressClient">Adress</label>
        <input type="text" class="form-control" formControlName="adressClient" placeholder="Adress de clientt">
      </div>
      <div class="form-group col-md-6">
        <label for="villeClient">Ville</label>
        <input type="text" class="form-control" formControlName="villeClient" placeholder="Ville de client">
      </div>
    </div>

    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="statusClient">Status </label>
            <select formControlName="statusClient" class="form-control">
                <option selected>Status de client...</option>
                <option value="On">On</option>
                <option value="Off">Off</option>
              </select>
          </div>

          <div class="form-group col-md-6">
            <label for="photoClient">Url Image client</label>
            <input type="text" class="form-control" formControlName="photoClient" placeholder="Saisir Url ...">
          </div>
     </div>
  

  <button  class="btn btn-primary">
      <span  class=""></span>
      Save
  </button>
      &nbsp;&nbsp;
    <button type="button" class="btn btn-danger" (click)="onClear()">Clear</button>

  </form>
