<form [formGroup]="service.form" (ngSubmit)="onSubmit()" >
    <div class="form-row">
      <div class="form-group col-md-6">
        <input type="hidden" formControlName="id">

        <label for="nomProduit">Libellé de produit</label>
        <input type="text" formControlName="nomProduit" class="form-control"  placeholder="Libellé de Produit"/>
      </div>
      <div class="form-group col-md-6">
        <label for="nomCourtProduit">Libellé court de produit</label>
        <input type="text" class="form-control" formControlName="nomCourtProduit"  placeholder="libelle Court de Produit"/>
      </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="prixVente">prix ce vente</label>
            <input type="number" class="form-control" formControlName="prixVente" placeholder="Prix de vente">
          </div>
          <div class="form-group col-md-6">
            <label for="seuilMax">Seuil Max</label>
            <input type="number" class="form-control" formControlName="seuilMax" placeholder="Seuil maximal de remise">
          </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="quantiteInitiale">Quantité initial de Produit</label>
        <input type="number" class="form-control" formControlName="quantiteInitiale" placeholder="Quantité initial Produit">
      </div>
      <div class="form-group col-md-6">
        <label for="quantiteActuel">Quantité actuel de Produit</label>
        <input type="text" class="form-control" formControlName="quantiteActuel" placeholder="Quantité Actuel Produit">
      </div>
    </div>

    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="uniteProduit">Unité de Produit</label>
            <select formControlName="uniteProduit" class="form-control">
                <option selected>unite de produit...</option>
                <option *ngFor="let unite of unites" value="{{unite.value}}">{{unite.value}}</option>
              </select>
          </div>

          <div class="form-group col-md-6">
            <label for="imageProduit">Url Image Produit</label>
            <input type="text" class="form-control" formControlName="imageProduit" placeholder="Saisir Url ...">
          </div>
     </div>
  

  <button  class="btn btn-primary">
      <span  class="spinner-border spinner-border-sm mr-1"></span>
      Save
  </button>
      &nbsp;&nbsp;
    <button type="button" class="btn btn-danger" (click)="onClear()">Clear</button>

  </form>
